BEGİN : 


package mysqlproject;

import java.util.Scanner;

public class Aclass {
public static void main(String[] args){
while(true){
	int i; 
	int toplam =0;
	System.out.println("Enter a number: ");
	Scanner input = new Scanner(System.in);
	i = input.nextInt();
if (i>1)
{
    toplam=i+5;	
	System.out.println("Results are : "+toplam); 
		
}
}
}
}


************************************END******************************
package mysqlproject;

public class Bclass {
	public static void main(String[] args){
	int i;
	int[] EvenNumber=new int[20];

	for (i=0;i<20;i++)
	EvenNumber[i]=i*2;

	for (i=0;i<20;i++)
	System.out.println(+ EvenNumber[i]);
}
}
******************************END**********************************
package mysqlproject;

public class Cclass {

	public static void main (String[] args){
		int j;
		int [] OddNumber=new int [31];
		for(j=1; j<=30;j++)
			OddNumber[j]= ((2*j)-1);
		for(j=1;j<=30;j++)
			System.out.println(+ OddNumber[j]);
	}
	
}
********************************END********************************

package mysqlproject;

public class ClassD {

public static void main(String[] args)
{
	
	int a[]={13,14,15,16,17,19,3,4,6,5};
int i;
	for(i=0;i<=9;i++){
System.out.printf(" \n sorted age : "+a[i]);
}
}
}
*********************END*************************
